body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}
.header .logo {
  font-size: 1.0rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
.navbar a:hover, .navbar a.active {
  background-color: #555;
}

/* BOX PRINCIPAL */
.BOX-pricipal {
  text-align: center;
  padding: 40px 20px;
  background-color: #0078d4;
  color: white;
}
.BOX-pricipal-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.BOX-pricipal-content h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.btn-box a {
  background-color: white;
  color: #0078d4;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.btn-box a:hover {
  background-color: #005bb5;
  color: white;
}

/* #### BOX-UFV INCIO #### */
.BOX-UFV {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  max-width: 700px;
  margin: 10px auto;
}

/* BOX-UFV Image */
.BOX-UFV-image {
  width: 100%;
  max-width: 180px;
}

.BOX-UFV-image img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0; /* Rounded top corners */
}

/* BOX-UFV Title */
.BOX-UFV-title1 {
  padding: 10px;
}

.BOX-UFV-title h3 {
  font-size: 1.5rem;
  color: #333;
}

/* BOX-UFV Date box */
.BOX-UFV-date {
  padding: 5px 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin: 5px 0;
}

.BOX-UFV-date p {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

/* BOX-UFV Info */
.BOX-UFV-info {
  padding: 10px;
}

.BOX-UFV-info p {
  font-size: 1rem;
  color: #555;
}